{
    "env": {
        "es6": true,
        "node": true,
        "jest": true,
    },
    "parserOptions": {
        "ecmaVersion": 8
    },
    "extends": "eslint:recommended",
    "rules": {
        "no-console": 0,
        "no-empty": 0,
        "indent": [
            "warn",
            4
        ],
        "linebreak-style": [
            "warn",
            "unix"
        ],
        "quotes": [
            "warn",
            "single"
        ],
    }
}
